html {
    font-size: 1em;
}

/* Ensures media won't overflow from its container */
img,
picture,
video {
    max-width: 100%;
}

body {
    background: black;
    color: white;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Actor', sans-serif;
}

h1 {
    font-family: 'Actor', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

a,
a:visited {
    text-decoration: none;
    color: white;
}

/* Desktop nav styles */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
}

main {
    padding: 0 40px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.small-logo {
    visibility: hidden;
}

.small-logo img {
    width: 40px;
    height: auto;
}

.empty {
    width: 50px;
    height: 100%;
}

.nav-bar {
    font-family: "Josefin Sans", sans-serif;
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 20px;
    padding: 0;
    /* gap: 20px;
    padding: 20px; */
    /* overflow: hidden; */
    /* background: #311D3F; */
}

/* .nav-div {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
} */

.nav-link a {
    transition: all 0.3s ease;
}

.nav-link a:hover {
    color: gray;
}

.nav-link a {
    display: block;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

/* Dropdown menu styles */
.nav-link>.dropdown {
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 14px;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100%;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

.nodropdown {
    display: none;
}

.dropdown-content a {
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    display: block;
    width: 125px;

}

/* Dropdown links change color on hover */
.dropdown-content a:hover {
    background-color: black;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Mobile nav styles */
.mobile-nav {
    display: none;
    /* Default state */
    background: #000;
}

/* Banner styles */
.banner {
    height: 500px;
    /* height: 635px; */
    background-image: url(imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 40px;
    /* background-attachment: fixed; */
}

#logo {
    max-width: 100%;
    height: auto;
}

/* Container styles */
.container {
    display: flex;
    justify-content: center;
}

.container a {
    text-align: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.gap-small {
    gap: 40px;
}

h2 .scenario-title {
    color: #f8eaa9;
}

/* Images of the scenarios styles */
.room-scenario {
    padding: 20px 0;
    
}

/* Media queries */
/* Make h1 larger at 1200px width */
@media (min-width: 1500px) {
    .banner {
        background-size: cover;
    }
}
@media (min-width: 1024px) {
    h1 {
        font-size: 4rem;
    }
}

/* Make nav-div disappear when width < 1024px */
@media (max-width: 1024px) { 
    h1 {
        font-size: 3rem;
    }  
    nav {
        padding: 20px;
    }

    .nav-bar {
        flex-wrap: wrap;
    }

    /* All of the nav links */
    .nav-link a, .nav-link > .dropdown {
        font-size: 1rem;
    }

    .banner {
        height: 350px;
    }
}

@media (max-width: 768px) {
    /* .nav-div {
        display: none;
    } */
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }
    body {
        /* Disables horizontal scrolling if allowed */
        overflow-x: hidden;
    }

    nav {
        justify-content: space-between;
    }

    .empty {
        display: none;
    }

    .nodropdown {
        display: block;
    }

    .nav-bar {
        position: absolute;
        left: 0px;
        height: 100vh;
        top: 10vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        transition: transform 0.5s ease-in;
        /* Moves the links to the desired position (positive values = moves right, negative values = moves left) */
        transform: translateX(-100%);
        
    }

    .nav-bar li {
        opacity: 0;
    }

    .yesdropdown {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .banner {
        height: 260px;
    }
}

@media (max-width: 600px) {
    .banner {
        height: 200px;
    }
}

@media (max-width: 425px) {
    main {
        padding: 0;
    }
    h2 {
        font-size: 1.5rem;
    }
    .banner {
        background-image: url(imgs/banner-small.jpg);
        background-size: cover;
        margin-bottom: 40px;
        height: 250px;
    }
}

@media (max-width: 365px) {
    .banner {
        background-size: contain;
    }
}

@media (max-width: 320px) {
    .banner {
        height: 225px;
    }
}


.nav-active {
    transform: translateX(0%);
    overflow-y: hidden;
}

/* Link animation */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Hamburger animation (toggled using JS) */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

/* @media (min-width: 1024px) {
    .hamburger {
        display: block;
    }
} */
/* @media only screen and (max-width: 1200px) {
    .room-scenario {
        align-self: unset;
    }
} */

/* Line break styles */
.line-break {
    padding: 20px 0;
}
hr {
    width: 100%;
    margin: 0 auto;
    border: solid 1px rgba(255,255,255,0.13);
}

/* 3rd section styles */
.center {
    text-align: center;
}

/* Styles of the two images below the scenario images */
.two-images {
    flex-wrap: wrap;
    padding: 50px 0;
}
.small-size {
    width: 500px;
}

/* Specific styles */
.colored-red {
    color: #E71A2D;
}

/* Fake ID selectors, this is for color palettes */
#colors1 {
    color: #E71A2D;
    color: #EBEBEB;
    color: #565656;
    color: #919191;
    color: #333333;
}